
<!-- <ng-template #itemTemplate let-item="item" let-index="index">
        <span>☰ </span>
        <span>{{item.value.name}}</span>
</ng-template>
        -->


<!-- Fixed position div for rendering drag and drop interface for grouping -->
<div class="hover_background_grouping" *ngIf = "toggleOverlayGrouping">
    <span class="conf-smart-grouping"></span>
    <div>
        <div class="popupCloseButton" (click) = toggleOverlay()>X</div>
        <p>Drag and drop categories to be prioritized in making balanced student groups</p>
            <div class="sortable-list-item" [sortablejs] = "groupingStrings">
                <div *ngFor = "let item of groupingStrings" class = "priority-elements">
                    <span class= "draggable-priority">☰</span>
                    <span>{{item.name}}</span>
                </div>
            </div>
        <button class = "save-priority" (click) = "toggleOverlay()">Save</button>
    </div>
</div>
          
<!-- Row for rendering the overhead buttons -->
<div class = "button-row">
    <div class="dropdown">
        <button (click)="myFunction()" class="dropbtn">Sort by</button>
        <div id="myDropdown" class="dropdown-content">
            <a (click)="sortAttributes(1)">Collaboration</a>
            <a (click)="sortAttributes(2)">Communication</a>
            <a (click)="sortAttributes(3)">Problem Solving</a>
            <a (click)="sortAttributes(4)">Project Management</a>
            <a (click)="sortAttributes(5)">Group Discussion</a>
        </div>
    </div>

    <button class = "configure-grouping" (click)="toggleOverlay()">Configure Grouping</button>

    <button id = "smart-grouping" (click)="smart_grouping()">Smart Grouping</button>
    <button class = "reset-groups" (click)= "reset_groups()">Reset Groups</button>
</div>
    
    <div class = "parent-container">
        <!-- Div for rendering student cards -->
        <div class="ui-g-12 ui-md-6 ui-g-nopad drag-column">
            <div *ngFor="let student of availableStudents; index as i"  class="ui-helper-clearfix" pDraggable="students" (onDragStart)="dragStart($event,student)" (onDragEnd)="dragEnd($event)">
                    
                    <div class = "student-profile-info">
                        <img class = "student-image" src = {{student.image_source}}>
                        

                        <div class = "student-name">
                            <b>{{student.name}}</b>
                        </div>
                    </div>
                    <!-- Div for rendering student performance -->
                    <div class = "student-performance">

                        <p class = "group-header-desc" ><b>{{student.student_header[header_index]}}</b></p>
    
                        <p class = "line-desc">Col</p>
                        <div class = "line line-1" [style.width] =label_to_percentage(student.collaboration) >              
                        </div>
                        
                        
                        <p class = "line-desc">Com</p>
                        <div class = "line line-2" [style.width] =label_to_percentage(student.communication)>
                        </div>

                        
                        <p class = "line-desc">P.S</p>
                        <div class = "line line-3" [style.width] =label_to_percentage(student.problem)>
                        </div>

                        
                        <p class = "line-desc">P.M</p>
                        <div class = "line line-4" [style.width] =label_to_percentage(student.project_management)>
                        </div>

                        
                        <p class = "line-desc">G.D</p>
                        <div class = "line line-5" [style.width] =label_to_percentage(student.group_discussion)>

                        </div>

                    </div>
            </div>
            
            
    </div>

    <div class = "grouping-container">
        <button class = "student-input-value"(click) = toggleInput() ng-model = "toggleInputValue">✐</button>
        <input class = "student-input-box" size = "1" maxlength ="2" *ngIf = "toggleInputValue" [(ngModel)] = "studentsPerGroup" (keydown.enter) = "toggleInput()"> 
        <label class = "student-group-describer" *ngIf = "!toggleInputValue">{{studentsPerGroup}} </label>
        <label class = "label-white">students/group</label>
        <button class = "save-button" (click) = "saveFunction()">Save</button>
        <button class = "confirm-button" (click) = "confirmFunction()">Confirm</button>
        <br>
        

        <div class="ui-g-12 ui-md-6 drop-column" *ngFor ="let group of selectedStudents; index as i"  [attr.data-index]="i" pDroppable="students" (onDrop)="drop($event,i)" [ngClass]="{'ui-highlight-student':draggedStudent}">
            <div class = "student-group-name">
                <p-table [value]="selectedStudents[i]" >
                    <ng-template pTemplate="body" let-student>
                        <tr>
                            <td>{{student.name}}</td>
                            <td><button mat-button class = "button remove-button" (click)="removeGroupValue(student, i)"> - </button></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class = "group-avg-score"> 
                    <div class="leaf leaf-1" [ngClass] = "groupDesignValues[i][0]"></div>
                    <div class="leaf leaf-2" [ngClass] = "groupDesignValues[i][1]"></div>
                    <div class="leaf leaf-3" [ngClass] = "groupDesignValues[i][2]"></div>
                    <div class="leaf leaf-4" [ngClass] = "groupDesignValues[i][3]"></div>
                    <div class="leaf leaf-5" [ngClass] = "groupDesignValues[i][4]"></div>

                    <!-- <div class = "line line-1" [style.width] =label_to_percentage(student.collaboration)> </div>
                    <div class = "line line-2" [style.width] =label_to_percentage(student.communication)></div>
                    <div class = "line line-3" [style.width] =label_to_percentage(student.problem)></div>
                    <div class = "line line-4" [style.width] =label_to_percentage(student.project_management)></div>
                    <div class = "line line-5" [style.width] =label_to_percentage(student.group_discussion)></div> -->
            </div>    
        </div>
        <div class="ui-g-12 ui-md-6 drop-column-addGroup"  (click) = "increment_groups()">  
                <div class = "plus-sign-add">
                    <label class = "plus-sign-label">+</label>
                </div>
        </div>
    </div>

<!-- <script>
    var line1 = document.getElementById('line1'));
    line1.setAttribute('style', this.setAtrributeStyle(this.label_to_percentage(student.collaboration)));

    var line2 = document.getElementById('line2'));
    line2.setAttribute('style', this.setAtrributeStyle(this.label_to_percentage(student.collaboration)));
    
    var line3 = document.getElementById('line3'));
    line3.setAttribute('style', this.setAtrributeStyle(this.label_to_percentage(student.collaboration)));
    
    var line4 = document.getElementById('line4'));
    line4.setAttribute('style', this.setAtrributeStyle(this.label_to_percentage(student.collaboration)));
    
    var line5 = document.getElementById('line5'));
    line5.setAttribute('style', this.setAtrributeStyle(this.label_to_percentage(student.collaboration)));
    

</script> -->